body{
    background-color: #e6f9b1;
    text-align: center;

}
.box-container{
    text-align: center;
    border-radius: 100px;
    justify-content: center;
    display: flex;
}
.game-controller{
    margin: 100px auto; 
    align-items: center;  
}

.welcome-text h1 {
    font-family: 'Arial', sans-serif;
    font-size: 30px; 
    color: #2a5d14; 
}

.welcome-text p {
    font-family: 'Arial', sans-serif;
    font-size: 19px; 
    color: #2a5d14; 
}

/* CSS for input feltet i index.html*/
.input{
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;     
  box-shadow: 0 0 6px rgba(0,0,0,0.15);  
  outline: none; 
  text-transform: capitalize;
}

.input:focus{
  border-color: #888; 
  box-shadow: 10 10 10px rgba(10,10,0,0.2)
}
/* CSS for enter knappen i index.html*/
.enter-button{
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;     
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  outline: none; 
  cursor: pointer;
  border: 2px solid #2a5d14;
  font-weight: bold;
  color: #2a5d14; 
}

.picture{
    width: 5px;
}

/* CSS for categories games*/
.games {
    display: flex;
    flex-direction: column;   
    gap: 12px;              
    max-width: 600px;
    margin: 100px auto;     
    padding: 70px;
    background-color: #bdd087; 
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.games button{
    display: flex;
    flex-direction: column; 
    gap: 12px;            
    max-width: 900px;
    margin: 40px auto;     
    padding: 20px;
    background-color: #b0c17f;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    align-items: flex-start;
    background-color: #ffffff; 
    padding: 12px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 0;
    font-weight: bold;
    color: #2a5d14; 
    font-size:medium;
}

.games button:hover {
    background-color: #d8f2a0;
    transform: scale(1.05);     
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.start-site-button{
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;     
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    outline: none; 
    cursor: pointer;
    position: absolute; 
    top: 20px;          
    left: 20px; 
    background-color: #ffffff; 
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    border: 2px solid #2a5d14;
    font-weight: bold;
    color: #2a5d14; 
}
/* CSS for velkommen teksten i categories.js*/
#welcomeText {
    font-family: 'Arial', sans-serif;
    font-size: 30px; 
    color: #2a5d14;  
}

.timestamp {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    color: #2a5d14;
    position: fixed;   
    bottom: 10px;     
    left: 10px;  
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;   
}

.feedback{
    font-family: 'Arial', sans-serif;
    color: #2a5d14;
    font-size: 20px
}

.win-image{
    display: none;
    width: 430px;
    border-image: center;
    margin: 100px auto; 
}

.back-button{
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;     
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    outline: none; 
    cursor: pointer;
    position: absolute; 
    top: 20px;          
    left: 20px; 
    background-color: #ffffff; 
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    border: 2px solid #2a5d14;
    font-weight: bold;
    color: #2a5d14; 
}
/* CSS for rock, paper, scissors*/
.rock-button{
    color: #2a5d14; 
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    cursor: pointer;
    padding: 10px 14px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
}
.rock-button:hover{
    background-color: #c1dd84;
    transform: scale(1.05);     
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.paper-button{
    color: #2a5d14; 
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    cursor: pointer;
    padding: 10px 14px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
}
.paper-button:hover{
    background-color: #c1dd84;
    transform: scale(1.05);     
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.scissors-button{
    color: #2a5d14; 
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    cursor: pointer;
    padding: 10px 14px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
}
.scissors-button:hover{
    background-color: #c1dd84;
    transform: scale(1.05);     
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}